@charset "UTF-8";
body{
    background-image:linear-gradient(120deg, #49b9fa,#87d1fc, #94d7fd,#bee7ff,#94d7fd, #87d1fc, #49b9fa);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
MAIN{
    background-color: white;
    border-radius: 10px;
    width: 60em;
    padding: 25px;
    margin: auto;
    box-shadow: 3px 5px 15px rgba(131, 131, 131, 0.637);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 5px 15px rgba(131, 131, 131, 0.637);
    text-align: justify;
}
h1{
    color:rgb(255, 161, 37);
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to right, #5044fa,#757eff ,#9368f8, #757eff, #5044fa);
    background-clip: border-box;
    text-align: center;
    border-radius: 30px;
    width: max-content;
    padding: 7.5px;
    margin:auto;
    margin-block: 30px;
    box-shadow: 3px 5px 15px rgb(143, 118, 86);
    text-shadow: 1px 1px 0px ;
    font-size: 3.5em;
}
h2{
    font-family: cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ff0000;
    text-align: center;
    margin:auto;
    text-shadow: 1px 1px 0px #c0c0c0 ;
    font-size: 2.8em;
    padding: 5px;

}
h3{
    color: #F2B138;
    text-decoration-line: underline;
    text-align: left;
    font-size: 2em;
    padding: 0px;
    
}
h4{
    color: #525252;
    text-align: left;
    font-size: 1.75em;
}
h5{
    color: #000000;
    text-align: left;
    font-size: 1.5em;    

}
p{
    text-align: left;
    
}
ul{
    text-align: left;
    width: max-content;
    margin:auto;
}
a{
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(241, 201, 154);
    padding: 5px;
    box-shadow: 3px 5px 15px rgba(131, 131, 131, 0.637);
    text-align: center;
}
h3,h4,h5,h6{
    padding: 0;
    margin: 0.10em;
}
