@charset "UTF-8";
@font-face {
    font-family: Pixel ;
    src: url(fontes/gameplay/Gameplay.ttf);
}

.cabecalho{
    display: flex;
    justify-content: center;
}
body{
    background-color: #001011;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
MAIN{
    background-color: white;
    border-radius: 10px;
    width: 60em;
    padding: 25px;
    margin: auto;
    box-shadow: 3px 5px 15px rgba(131, 131, 131, 0.637);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 5px 15px rgba(131, 131, 131, 0.637);
    text-align: justify;
}
h1{
    color:#E53D00;
    font-family: "Pixel";
    text-align: center;
    padding: 9.0px;
    margin:auto;
    margin-block: 20px;
    text-shadow: 1px 1px 0px ;
    font-size: 3.5em;
    text-shadow:1px 5px 15px #6CCFF6;
    background-clip: border-box;
    letter-spacing: 0.15em;
}
h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ff0000;
    text-align: center;
    margin:auto;
    text-shadow: 1px 1px 0px #c0c0c0 ;
    font-size: 2.8em;
    padding: 5px;
}
h3{
    color: #F2B138;
    text-decoration-line: underline;
    text-align: left;
    font-size: 2em;
    padding: 0px;
    padding-left: 20px;
}
h4{
    color: #525252;
    text-align: left;
    font-size: 1.75em;
}
h5{
    color: #000000;
    text-align: left;
    font-size: 1.5em;    

}
p{
    text-align: left;
    
}
ul{
    text-align: left;
    width: max-content;
    margin:auto;
}
a{
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(241, 201, 154);
    padding: 5px;
    box-shadow: 3px 5px 15px rgba(131, 131, 131, 0.637);
    text-align: center;
}
h3,h4,h5,h6{
    padding: 0;
    margin: 0.10em;
}