@charset "UTF-8";
@font-face {
    font-family: Pixel ;
    src: url(fontes/gameplay/Gameplay.ttf);
}
div{
    margin:auto;
}
body{
    background-color: #001011;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
    
}
MAIN{
    background-color: white;
    border-radius: 10px;
    width: 50em;
    padding: 25px;
    margin: auto;
    box-shadow: 3px 5px 15px rgba(131, 131, 131, 0.637);
}
h1{
    color:#E53D00;
    font-family: "Pixel";
    text-align: center;
    padding: 9.0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    margin:auto;
    margin-block: 20px;
    text-shadow: 1px 1px 0px ;
    font-size: 3.5em;
    text-shadow:1px 5px 15px #6CCFF6;
    
}
h2{
    color:#F2B138;
    font-family: 'Courier New', Courier, monospace;
    margin: auto; 
    text-align: leftb;   
    font-size: 2em;
}
p{
    text-align: justify;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    width: 50em;
    padding: 25px;
    margin: auto;
    box-shadow: 3px 5px 15px rgba(131, 131, 131, 0.637);

}
a{
    text-decoration: none;
    color: #F2B138;
    padding: 5px;
    border-radius: 20px;
    text-shadow:1px 1px 1px #001011;
}
li{
    margin: 20px;
}